{% extends "base.html" %}

{% block title %}Entries{% endblock %}

{% block content %}
  <div class="page-header">
    <h2>Entries</h2>
  </div>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">New Entry</h3>
    </div>

    <div class="panel-body">
      <form class="form-horizontal" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" name="create_entry" value="Create Entry">
        <input class="btn btn-primary" type="submit" name="create_endnow" value="Create Entry with End Now">
      </form>
    </div>

  </div>
  <table class="table table-striped col-md-6">
        <thead>
        <tr>
            <th>Start</th>
            <th>Stop</th>
            <th>Project</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
      {% for entry in entry_list %}
        <tr>
            <td>{{entry.start}}</td>
            <td>{{entry.stop}}</td>
            <td>{{entry.project}}</td>
            <td>{{entry.description}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
